.message-container {
  display: flex;
  gap: 4px;
  align-items: start;
  margin-top: 4px;
}
.user-message {
  justify-content: right;
}
.robot-message {
  justify-content: left;
}
.message {
  background: #eeeeee;
  padding: 16px;
  border-radius: 8px;
  max-width: 50%;
}